.hero {
  height: 89%;
  width: 76%;
  padding: 0 30px;
  min-width: 400px;
  min-height: 500px;
  border-radius: 11px;
  background: url(https://images.pexels.com/photos/844297/pexels-photo-844297.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.heroWrapper {
  width: 75%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 26px;
}
.select {
  position: absolute;
  right: 30px;
  top: 50%;
}
.searchHeading {
  margin-top: 80px;
  font-size: 49px;
}
